<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách bình chọn</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        {% if session['user_login'] %}
        <p>{{ session['user_login'] }}</p>
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span>Đăng
                    xuất</span></button>
        </form>
        {% endif %}
    </div>

    <!-- Slider Section -->
    <h1 class="title">Bình chọn Gala 2025</h1>
    <div class="description">
        <p>Chương trình bình chọn các tiết mục được yêu thích cho đêm tất niên ở BGTV</p>
    </div>
    {% if session['user_code'] == 'ADMIN' %}
    <div class="container-admin">
        <button class="button-open-vote" data-id="{{ is_open }}">
            {% if is_open == 1 %}
            Mở bình chọn
            {% else %}
            Kết thúc bình chọn
            {% endif %}
        </button>
    </div>
    {% endif %}
    <div class="contestant-container">
        {% for festival in festivals %}
        <div class="order">
            <div class="contestant-item" id="festival-{{ festival[0] }}">
                <div class="contestant-item-body">
                    <div class="order">
                        <span>{{ loop.index }}</span>
                    </div>
                    <p>{{ festival[1] }}</p>
                </div>
                <div class="contestant-item-footer">
                    {% if session['user_code'] == 'ADMIN' %}
                    <div class='contestant-item-footer-likes'>
                        <img alt=""
                            src="https://res.cloudinary.com/dhrpdnd8m/image/upload/v1732188613/ikfqqfunrruak4grzm5l.png"
                            style="height:25px" />
                        <span class="like-count" data-id="{{ festival[0] }}">{{ festival[2] }}</span>
                    </div>
                    {% else %}
                    <div class='contestant-item-footer-likes'>
                        <img alt=""
                            src="https://res.cloudinary.com/dhrpdnd8m/image/upload/v1732188613/ikfqqfunrruak4grzm5l.png"
                            style="height:25px" />
                    </div>
                    <div class='contestant-item-footer-btns'>
                        {% if is_open == 2 %}
                        <div class="vote-icon" data-id="{{ festival[0] }}"
                            data-voted="{{ 'true' if festival[0] in user_votes else 'false' }}">
                            {% if festival[0] in user_votes %}
                            <button class="contestant-item-footer-btn like"><i class="fa-solid fa-heart"></i>
                            </button>
                            {% else %}
                            <button class="contestant-item-footer-btn unlike"><i class="fa-solid fa-heart-crack"></i>
                            </button>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="vote-icon hidden" data-id="{{ festival[0] }}"
                            data-voted="{{ 'true' if festival[0] in user_votes else 'false' }}">
                            {% if festival[0] in user_votes %}
                            <button class="contestant-item-footer-btn like"><i class="fa-solid fa-heart"></i>
                            </button>
                            {% else %}
                            <button class="contestant-item-footer-btn unlike"><i class="fa-solid fa-heart-crack"></i>
                            </button>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="liker-list-background hidden">
        <div class="liker-list">
            <header>
                <span>Danh sách người thích</span>
                <i class="fa-solid fa-circle-xmark"></i>
            </header>
            <div class="liker-list-body">
            </div>
        </div>
    </div>
    {% if session['user_code'] != 'ADMIN' %}
    {% if is_open == 2 %}
    <div class="voting-expired-popup hidden">
        <div class="voting-expired-content">
            <p>Thời gian bình chọn đã kết thúc!</p>
            <button class="voting-expired-popup-close">Đóng</button>
        </div>
    </div>
    {% else %}
    <div class="voting-expired-popup">
        <div class="voting-expired-content">
            <p>Thời gian bình chọn đã kết thúc!</p>
            <button class="voting-expired-popup-close">Đóng</button>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="warning-popup hidden">
        <div class="warning-content">
            <p>Chỉ được phép chọn một đội!</p>
            <button class="warning-popup-close">Đóng</button>
        </div>
    </div>
</body>

</html>