<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glassmorphism Login Form | CodingNepal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="wrapper">
        <form class="form" action="/" method="POST">
            <h2>Login</h2>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <div class="input-field">
                <input class="user-name" type="text" name="login" id="login" required><br><br>
                <label>Enter your email</label>
            </div>
            <div class="input-field">
                <input class="user-name" type="password" name="password" id="password" required><br><br>
                <label>Enter your password</label>
            </div>
            <div class="forget">
                <label for="remember">
                    <p></p>
                </label>
                <a href="#"></a>
            </div>
            <button class="submit" type="submit">Log in </button>
            <div class="register">
                <p></p>
            </div>
        </form>
    </div>
</body>

</html>